ssh-path: ~/.ssh

credential:
    aws_access_key_id: XXX
    aws_secret_access_key: XXX
    region: ap-northeast-2

group-tag: Group
name-tag: Name

connect-ip:
    default: public
    group:
      live-company-group: private
    name:
      private-my-server: public

identity-file:
    default: auto
    group:
        tag-group: ~/.ssh/test1
    name:
        tag-name: ~/.ssh/test2

user:
    default: ec2-user
    group:
        tag-group: centos
    name:
        tag-name: leejuhyun
